body {
    background-color: beige;
}
.song {
    height: 300px;
    width: 400px;
    background-color: darkkhaki;
    text-align: center;
    border: 3px dashed #444;
    justify-content: center;
    
}
a {
    text-decoration: none;
}

a:hover {
    color: rgb( 230, 115, 223);
    font-size: large;
    font-style: italic;
}
a:visited {
    color: #889388;
}
span{
    font-family: 'pappins', sans-serif;
}