*{
    box-sizing: border-box;
}
body{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
tr, td, thead, tbody{
    border: 1px solid  black;
    border-collapse: collapse;
    width: 100px;
}
thead {
    background-color: #ff7f7f;
    
}
table > thead , tbody > tr:first-child {
 color: #fff;
}
tbody > tr:first-child{
    background-color: #fca5a5;
    
}
tbody > tr:nth-child(2){
    background-color: #feefef;
}
tbody > tr:last-child{
    background-color: rgb(240, 229, 229);
}
table{
    border-collapse: collapse;
}
tbody > tr > td{
    text-align: end;
}
tbody > tr >td:first-child {
    text-align: left;
}
