#text {
    text-align: center;
    background-color: yellow;
    color: green;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
}